<div class="rounded-xl border bg-card text-card-foreground shadow">
  <div class="space-y-1.5 p-6 flex flex-row items-center">
    <div class="flex items-center space-x-4">
      <span
        class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
        <img
          class="aspect-square h-full w-full"
          alt="Image"
          src="./assets/img/01.png" />
      </span>

      <div>
        <p class="text-sm font-medium leading-none">Sofia Davis</p>

        <p class="text-sm text-muted-foreground">m@example.com</p>
      </div>
    </div>

    <button
      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 w-9 ml-auto rounded-full"
      data-state="closed">
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/gen-plus.svg"></div>

      <span class="sr-only">New message</span>
    </button>
  </div>

  <div class="p-6 pt-0">
    <div class="space-y-4">
      <div
        class="flex w-max max-w-[75%] flex-col gap-2 rounded-lg px-3 py-2 text-sm bg-muted">
        Hi, how can I help you today?
      </div>

      <div
        class="flex w-max max-w-[75%] flex-col gap-2 rounded-lg px-3 py-2 text-sm ml-auto bg-primary text-primary-foreground">
        Hey, I'm having trouble with my account.
      </div>

      <div
        class="flex w-max max-w-[75%] flex-col gap-2 rounded-lg px-3 py-2 text-sm bg-muted">
        What seems to be the problem?
      </div>

      <div
        class="flex w-max max-w-[75%] flex-col gap-2 rounded-lg px-3 py-2 text-sm ml-auto bg-primary text-primary-foreground">
        I can't log in.
      </div>
    </div>
  </div>

  <div class="flex items-center p-6 pt-0">
    <form class="flex w-full items-center space-x-2">
      <input
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 flex-1"
        id="message"
        placeholder="Type your message..."
        autocomplete="off"
        value />
      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 w-9"
        type="submit"
        disabled>
        <div
          class="w-6 h-6"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-get="./assets/icons/gen-send-horizontal.svg"></div>

        <span class="sr-only">Send</span>
      </button>
    </form>
  </div>
</div>
