<div class="rounded-xl border bg-card text-card-foreground shadow">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="font-semibold leading-none tracking-tight">Payments</h3>

    <p class="text-sm text-muted-foreground">Manage your payments.</p>
  </div>

  <div class="p-6 pt-0">
    <div class="mb-4 flex items-center gap-4">
      <input
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 max-w-sm"
        placeholder="Filter emails..."
        value />
      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 ml-auto"
        type="button"
        id="radix-:r17o:"
        aria-haspopup="menu"
        aria-expanded="false"
        data-state="closed">
        Columns
        <div
          class="w-6 h-6"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-get="./assets/icons/gen-dropdown.svg"></div>
      </button>
    </div>

    <div class="rounded-md border">
      <div class="relative w-full overflow-auto">
        <table class="w-full caption-bottom text-sm">
          <thead class="[&amp;_tr]:border-b">
            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
              <th
                class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select all"></button>
              </th>

              <th
                class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                Status
              </th>

              <th
                class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
                  Email
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-options.svg"></div>
                </button>
              </th>

              <th
                class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right">Amount</div>
              </th>

              <th
                class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3"></th>
            </tr>
          </thead>

          <tbody class="[&amp;_tr:last-child]:border-0">
            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              data-state="false">
              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select row"></button>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="capitalize">success</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="lowercase">ken99@yahoo.com</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right font-medium">$316.00</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
                  type="button"
                  id="radix-:r17q:"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  data-state="closed">
                  <span class="sr-only">Open menu</span>
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-menu.svg"></div>
                </button>
              </td>
            </tr>

            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              data-state="false">
              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select row"></button>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="capitalize">success</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="lowercase">Abe45@gmail.com</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right font-medium">$242.00</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
                  type="button"
                  id="radix-:r17s:"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  data-state="closed">
                  <span class="sr-only">Open menu</span>
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-menu.svg"></div>
                </button>
              </td>
            </tr>

            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              data-state="false">
              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select row"></button>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="capitalize">processing</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="lowercase">Monserrat44@gmail.com</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right font-medium">$837.00</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
                  type="button"
                  id="radix-:r17u:"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  data-state="closed">
                  <span class="sr-only">Open menu</span>
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-menu.svg"></div>
                </button>
              </td>
            </tr>

            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              data-state="false">
              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select row"></button>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="capitalize">success</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="lowercase">Silas22@gmail.com</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right font-medium">$874.00</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
                  type="button"
                  id="radix-:r180:"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  data-state="closed">
                  <span class="sr-only">Open menu</span>
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-menu.svg"></div>
                </button>
              </td>
            </tr>

            <tr
              class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              data-state="false">
              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  type="button"
                  role="checkbox"
                  aria-checked="false"
                  data-state="unchecked"
                  value="on"
                  class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
                  aria-label="Select row"></button>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="capitalize">failed</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="lowercase">carmella@hotmail.com</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <div class="text-right font-medium">$721.00</div>
              </td>

              <td
                class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px] [&amp;:has([role=checkbox])]:pl-3">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
                  type="button"
                  id="radix-:r182:"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  data-state="closed">
                  <span class="sr-only">Open menu</span>
                  <div
                    class="w-6 h-6"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-get="./assets/icons/gen-menu.svg"></div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex items-center justify-end space-x-2 pt-4">
      <div class="flex-1 text-sm text-muted-foreground">
        0 of 5 row(s) selected.
      </div>

      <div class="space-x-2">
        <button
          class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs"
          disabled>
          Previous
        </button>

        <button
          class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs"
          disabled>
          Next
        </button>
      </div>
    </div>
  </div>
</div>
