<div
  class="container flex flex-col items-start justify-between space-y-2 py-4 sm:flex-row sm:items-center sm:space-y-0 md:h-16">
  <h2 class="text-lg font-semibold">Playground</h2>

  <div class="ml-auto flex w-full space-x-2 sm:justify-end">
    <button
      class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 flex-1 justify-between md:max-w-[200px] lg:max-w-[300px]"
      role="combobox"
      aria-label="Load a preset..."
      aria-expanded="false"
      type="button"
      aria-haspopup="dialog"
      aria-controls="radix-:r1dl:"
      data-state="closed">
      Load a preset...
      <div
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-get="./assets/icons/gen-options.svg"></div>
    </button>

    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2"
      type="button"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="radix-:r1dm:"
      data-state="closed">
      Save
    </button>

    <div class="hidden space-x-2 md:flex">
      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2"
        type="button"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="radix-:r1dp:"
        data-state="closed">
        View code
      </button>

      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2"
        type="button"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="radix-:r1ds:"
        data-state="closed">
        Share
      </button>
    </div>

    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2"
      type="button"
      id="radix-:r1dt:"
      aria-haspopup="menu"
      aria-expanded="false"
      data-state="closed">
      <span class="sr-only">Actions</span>
      <div
        hx-swap="innerHTML"
        class="w-4 w-h"
        hx-trigger="load"
        hx-get="./assets/icons/gen-menu.svg"></div>
    </button>
  </div>
</div>
