<div
  class
  data-panel
  data-panel-collapsible="true"
  data-panel-group-id=":r18o:"
  data-panel-id=":r18p:"
  data-panel-size="19.0"
  style="flex: 19 1 0px; overflow: hidden">
  <div class="flex h-[51px] items-center justify-center px-2">
    <button
      type="button"
      role="combobox"
      aria-controls="radix-:r18q:"
      aria-expanded="false"
      aria-autocomplete="none"
      dir="ltr"
      data-state="closed"
      class="h-10 w-full justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 flex items-center gap-2 [&amp;>span]:line-clamp-1 [&amp;>span]:flex [&amp;>span]:w-full [&amp;>span]:items-center [&amp;>span]:gap-1 [&amp;>span]:truncate [&amp;_svg]:h-4 [&amp;_svg]:w-4 [&amp;_svg]:shrink-0"
      aria-label="Select account">
      <div
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-get="./assets/icons/gen-triangle.svg"
        class="mr-2"></div>

      <span style="pointer-events: none">
        <span class="ml-3">Alicia Koch</span>
      </span>
      <div
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-get="./assets/icons/gen-options.svg"
        class="mr-2"></div>
    </button>
  </div>

  <div
    data-orientation="horizontal"
    role="none"
    class="shrink-1 bg-border h-[1px] w-full"></div>

  <div
    data-collapsed="false"
    class="group flex flex-col gap-5 py-2 data-[collapsed=true]:py-2">
    <nav
      class="grid gap-2 px-2 group-[[data-collapsed=true]]:justify-center group-[[data-collapsed=true]]:px-2">
      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3 dark:bg-muted dark:text-white dark:hover:bg-muted dark:hover:text-white justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-inbox.svg"
          class="mr-2"></div>

        Inbox
        <span class="ml-auto text-background dark:text-white">127</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-draft.svg"
          class="mr-2"></div>

        Drafts
        <span class="ml-auto">8</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-sent.svg"
          class="mr-2"></div>

        Sent
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-junk.svg"
          class="mr-2"></div>

        Junk
        <span class="ml-auto">22</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-trash.svg"
          class="mr-2"></div>

        Trash
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-archive.svg"
          class="mr-2"></div>

        Archive
      </a>
    </nav>
  </div>

  <div
    data-orientation="horizontal"
    role="none"
    class="shrink-1 bg-border h-[1px] w-full"></div>

  <div
    data-collapsed="false"
    class="group flex flex-col gap-5 py-2 data-[collapsed=true]:py-2">
    <nav
      class="grid gap-2 px-2 group-[[data-collapsed=true]]:justify-center group-[[data-collapsed=true]]:px-2">
      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-social.svg"
          class="mr-2"></div>

        Social
        <span class="ml-auto">971</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-updates.svg"
          class="mr-2"></div>

        Updates
        <span class="ml-auto">341</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-forums.svg"
          class="mr-2"></div>

        Forums
        <span class="ml-auto">127</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-shopping.svg"
          class="mr-2"></div>

        Shopping
        <span class="ml-auto">7</span>
      </a>

      <a
        class="inline-flex items-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 justify-start"
        href="#">
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-promotions.svg"
          class="mr-2"></div>

        Promotions
        <span class="ml-auto">20</span>
      </a>
    </nav>
  </div>
</div>

<div
  class="relative flex w-px items-center justify-center bg-border after:absolute after:inset-y-1 after:left-1/2 after:w-1 after:-translate-x-1/2 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset-1 data-[panel-group-direction=vertical]:h-px data-[panel-group-direction=vertical]:w-full data-[panel-group-direction=vertical]:after:left-0 data-[panel-group-direction=vertical]:after:h-1 data-[panel-group-direction=vertical]:after:w-full data-[panel-group-direction=vertical]:after:-translate-y-1/2 data-[panel-group-direction=vertical]:after:translate-x-0 [&amp;[data-panel-group-direction=vertical]>div]:rotate-90"
  role="separator"
  tabindex="-1"
  data-panel-group-direction="horizontal"
  data-panel-group-id=":r18o:"
  data-resize-handle
  data-resize-handle-state="inactive"
  data-panel-resize-handle-enabled="true"
  data-panel-resize-handle-id=":r18r:"
  aria-controls=":r18p:"
  aria-valuemax="19"
  aria-valuemin="14"
  aria-valuenow="19"
  style="touch-action: none; user-select: none">
  <div
    class="z-11 flex h-4 w-3 items-center justify-center rounded-sm border bg-border">
    <div
      hx-swap="innerHTML"
      hx-trigger="load"
      hx-get="./assets/icons/gen-divider.svg"></div>
  </div>
</div>
