<div id="page">
  <div class="flex items-center justify-center min-h-1/2">
    <div class="flex flex-col items-center justify-center">
      <div class="m-8 w-72">
        <div
          hx-get="./assets/icons/hello.svg"
          hx-trigger="load"
          hx-swap="innerHTML"></div>
      </div>
      <p class="max-w-2xl font-semibold text-foreground text-center mb-4">
        Copy. Paste. Done. An intuitive library that merges HTMX, Hyperscript,
        TailwindCSS, AnimateCSS, and Lucide icons to bring life to your
        interface in just one line.
      </p>

      <p class="max-w-2xl text-xs font-light text-foreground text-center mb-4">
        This UI library is inspired by ShadCN UI, Headless UI, Skeleton UI, and
        Frappe UI—thank you for the inspiration !
      </p>

      <div class="flex w-full items-center justify-center gap-2 py-2">
        <a
          class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-8 rounded-md px-3 text-xs"
          href="/docs">
          Customize Theme
        </a>
      </div>
    </div>
  </div>

  <section class="container mt-8">
    <div class="grid grid-cols-4 grid-flow-row gap-4">
      <div
        hx-get="./pages/themes/total-revenue.html"
        class="min-h-full"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
      <div
        hx-get="./pages/blocks/charts/walking-distance.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/progress.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/bar.html"
        hx-trigger="load"
        class="h-fill"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/subscriptions.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/calender.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/move-goal.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/exercise-minutes.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/today.html"
        hx-trigger="load"
        class="col-span-2"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/team-members.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/cookie-settings.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/payment-method.html"
        class="col-span-2"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/chat.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/signup.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/payments.html"
        class="col-span-2"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
      <div
        hx-get="./pages/themes/share-this-document.html"
        class="col-span-2"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/time-in-bed.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/radial.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/charts/resting.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/themes/report-an-issue.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/no-products.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/charts/radar-chart/grid-filled.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/stock.html"
        class="col-span-2"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/product-images.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/order.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/login.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/blocks/dp.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/charts/bar-chart/horizontal.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div class="flex flex-col gap-4">
        <div
          hx-get="./pages/blocks/upgrade-to-pro.html"
          hx-trigger="load"
          hx-swap="innerHTML"></div>

        <div
          hx-get="./pages/blocks/this-week.html"
          hx-trigger="load"
          hx-swap="innerHTML"></div>
      </div>

      <div
        hx-get="./pages/charts/radar-chart/grid-circle-filled.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/charts/radial-chart/text.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/charts/radial-chart/stacked.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/charts/bar-chart/active.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/examples/cards/notifications.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/examples/cards/gallium.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
    </div>
  </section>
</div>
