<section
  id="page"
  class="grid grid-cols-4 gap-4 container">
  <div class="space-y-4">
    <div
      hx-get="./pages/themes/total-revenue.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/subscriptions.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/move-goal.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/exercise-minutes.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/login.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/dp.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/charts/bar-chart/horizontal.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/upgrade-to-pro.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/time-in-bed.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/today.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/team-members.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/charts/radial-chart/text.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/product-images.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
    <div
      hx-get="./pages/blocks/no-products.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/this-week.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/charts/radar-chart/grid-circle-filled.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>

  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/walking-distance.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/cookie-settings.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/charts/radar-chart/grid-filled.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/payment-method.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/resting.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/report-an-issue.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/bar.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/calender.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/progress.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/chat.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/signup.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/radial.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/home/notifications.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/charts/radial-chart/stacked.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
</section>
