<section
  id="page"
  class="grid grid-cols-4 gap-4 container">
  <div class="space-y-4">
    <div
      hx-get="./pages/themes/total-revenue.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/subscriptions.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/time-in-bed.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/radial.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>

  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/walking-distance.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/blocks/charts/progress.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
  <div class="space-y-4">
    <div
      hx-get="./pages/blocks/charts/bar.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>

    <div
      hx-get="./pages/themes/calender.html"
      hx-trigger="load"
      hx-swap="innerHTML"></div>
  </div>
</section>
