<div id="page">
  <div class="flex items-center justify-center min-h-1/2">
    <div class="flex flex-col items-center justify-center">
      <div class="m-8 w-72">
        <div
          hx-get="./assets/icons/hello.svg"
          hx-trigger="load"
          hx-swap="innerHTML"></div>
      </div>
      <p class="max-w-2xl font-semibold text-foreground text-center mb-4">
        Copy. Paste. Done. An intuitive library that merges HTMX, Hyperscript,
        TailwindCSS, AnimateCSS, and Lucide icons to bring life to your
        interface in just one line.
      </p>

      <p class="max-w-2xl text-xs font-light text-foreground text-center mb-4">
        This UI library is inspired by ShadCN UI — thank you for the inspiration
        !
      </p>

      <div class="flex w-full items-center justify-center gap-2 py-2">
        <a
          class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-8 rounded-md px-3 text-xs"
          href="/docs">
          Customize Theme
        </a>
      </div>
    </div>
  </div>

  <section class="grid grid-cols-4 gap-4 mt-8 container">
    <div class="space-y-4">
      <div
        hx-get="./pages/home/total-revenue.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/subscriptions.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/move-goal.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/exercise-minutes.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/login.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/dp.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/horizontal.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/upgrade-to-pro.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
    </div>
    <div class="space-y-4">
      <div
        hx-get="./pages/home/time-in-bed.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/today.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/team-members.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/text.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/product-images.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
      <div
        hx-get="./pages/home/no-products.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/this-week.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/grid-circle-filled.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
    </div>

    <div class="space-y-4">
      <div
        hx-get="./pages/home/walking-distance.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/cookie-settings.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/grid-filled.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/payment-method.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/resting.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/report-an-issue.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
    </div>
    <div class="space-y-4">
      <div
        hx-get="./pages/home/bar.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/calender.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/progress.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/chat.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/signup.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/radial.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/notifications.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>

      <div
        hx-get="./pages/home/stacked.html"
        hx-trigger="load"
        hx-swap="innerHTML"></div>
    </div>
  </section>
</div>
