<div class="rounded-xl border bg-card text-card-foreground shadow">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="font-semibold leading-none tracking-tight">Report an issue</h3>

    <p class="text-sm text-muted-foreground">
      What area are you having problems with?
    </p>
  </div>

  <div class="p-6 pt-0 grid gap-6">
    <div class="grid gap-4 sm:grid-cols-2">
      <div class="grid gap-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="area-:r187:">
          Area
        </label>

        <button
          type="button"
          role="combobox"
          aria-controls="radix-:r188:"
          aria-expanded="false"
          aria-autocomplete="none"
          dir="ltr"
          data-state="closed"
          class="flex h-9 w-full items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1"
          id="area-:r187:"
          aria-label="Area">
          <span style="pointer-events: none">Billing</span>

          <div
            class="w-4 h-4"
            hx-trigger="load"
            hx-swap="innerHTML"
            hx-get="./assets/icons/gen-options.svg"></div>
        </button>
      </div>

      <div class="grid gap-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="security-level-:r187:">
          Security Level
        </label>

        <button
          type="button"
          role="combobox"
          aria-controls="radix-:r189:"
          aria-expanded="false"
          aria-autocomplete="none"
          dir="ltr"
          data-state="closed"
          class="flex h-9 items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 line-clamp-1 w-full truncate"
          id="security-level-:r187:"
          aria-label="Security Level">
          <span style="pointer-events: none">Severity 2</span>

          <div
            class="w-4 h-4"
            hx-trigger="load"
            hx-swap="innerHTML"
            hx-get="./assets/icons/gen-options.svg"></div>
        </button>
      </div>
    </div>

    <div class="grid gap-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="subject-:r187:">
        Subject
      </label>

      <input
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        id="subject-:r187:"
        placeholder="I need help with..." />
    </div>

    <div class="grid gap-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="description-:r187:">
        Description
      </label>

      <textarea
        class="flex min-h-[60px] w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        id="description-:r187:"
        placeholder="Please include all information relevant to your issue."></textarea>
    </div>
  </div>

  <div class="flex items-center p-6 pt-0 justify-between space-x-2">
    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
      Cancel
    </button>

    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2">
      Submit
    </button>
  </div>
</div>
