<div class="rounded-xl border bg-card text-card-foreground shadow">
  <div class="flex flex-col space-y-1.5 p-6 pb-3">
    <h3 class="font-semibold leading-none tracking-tight">
      Share this document
    </h3>

    <p class="text-sm text-muted-foreground">
      Anyone with the link can view this document.
    </p>
  </div>

  <div class="p-6 pt-0">
    <div class="flex space-x-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 sr-only"
        for="link">
        Link
      </label>

      <input
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        id="link"
        readonly
        value="http://example.com/link/to/document" />
      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 shrink-0">
        Copy Link
      </button>
    </div>

    <div
      data-orientation="horizontal"
      role="none"
      class="shrink-0 bg-border h-[1px] w-full my-4"></div>

    <div class="space-y-4">
      <h4 class="text-sm font-medium">People with access</h4>

      <div class="grid gap-6">
        <div class="flex items-center justify-between space-x-4">
          <div class="flex items-center space-x-4">
            <span
              class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
              <img
                class="aspect-square h-full w-full"
                alt="Image"
                src="./assets/img/03.png" />
            </span>

            <div>
              <p class="text-sm font-medium leading-none">Olivia Martin</p>

              <p class="text-sm text-muted-foreground">m@example.com</p>
            </div>
          </div>

          <button
            type="button"
            role="combobox"
            aria-controls="radix-:r184:"
            aria-expanded="false"
            aria-autocomplete="none"
            dir="ltr"
            data-state="closed"
            class="flex h-9 items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 ml-auto w-[110px]"
            aria-label="Edit">
            <span style="pointer-events: none">Can edit</span>

            <div
              class="w-4 h-4"
              hx-trigger="load"
              hx-swap="innerHTML"
              hx-get="./assets/icons/gen-options.svg"></div>
          </button>
        </div>

        <div class="flex items-center justify-between space-x-4">
          <div class="flex items-center space-x-4">
            <span
              class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
              <img
                class="aspect-square h-full w-full"
                alt="Image"
                src="./assets/img/05.png" />
            </span>

            <div>
              <p class="text-sm font-medium leading-none">Isabella Nguyen</p>

              <p class="text-sm text-muted-foreground">b@example.com</p>
            </div>
          </div>

          <button
            type="button"
            role="combobox"
            aria-controls="radix-:r185:"
            aria-expanded="false"
            aria-autocomplete="none"
            dir="ltr"
            data-state="closed"
            class="flex h-9 items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 ml-auto w-[110px]"
            aria-label="Edit">
            <span style="pointer-events: none">Can view</span>

            <div
              class="w-4 h-4"
              hx-trigger="load"
              hx-swap="innerHTML"
              hx-get="./assets/icons/gen-options.svg"></div>
          </button>
        </div>

        <div class="flex items-center justify-between space-x-4">
          <div class="flex items-center space-x-4">
            <span
              class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
              <img
                class="aspect-square h-full w-full"
                alt="Image"
                src="./assets/img/01.png" />
            </span>

            <div>
              <p class="text-sm font-medium leading-none">Sofia Davis</p>

              <p class="text-sm text-muted-foreground">p@example.com</p>
            </div>
          </div>

          <button
            type="button"
            role="combobox"
            aria-controls="radix-:r186:"
            aria-expanded="false"
            aria-autocomplete="none"
            dir="ltr"
            data-state="closed"
            class="flex h-9 items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 ml-auto w-[110px]"
            aria-label="Edit">
            <span style="pointer-events: none">Can view</span>

            <div
              class="w-4 h-4"
              hx-trigger="load"
              hx-swap="innerHTML"
              hx-get="./assets/icons/gen-options.svg"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
