<div class="space-y-4">
  <div class="flex items-center justify-between">
    <div class="flex flex-1 items-center space-x-2">
      <input
        class="flex rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 h-8 w-[150px] lg:w-[250px]"
        placeholder="Filter tasks..."
        value />
      <button
        class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs h-8 border-dashed"
        type="button"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="radix-:r1ch:"
        data-state="closed">
        <div
          class="w-4 h-4 mr-2"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-get="./assets/icons/gen-circle-plus.svg"></div>

        Status
      </button>

      <button
        class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs h-8 border-dashed"
        type="button"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="radix-:r1ci:"
        data-state="closed">
        <div
          class="w-4 h-4 mr-2"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-get="./assets/icons/gen-circle-plus.svg"></div>

        Priority
      </button>
    </div>

    <button
      class="items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs ml-auto hidden h-8 lg:flex"
      type="button"
      id="radix-:r1cj:"
      aria-haspopup="menu"
      aria-expanded="false"
      data-state="closed">
      <div
        class="w-4 h-4 mr-2"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/gen-filter.svg"></div>

      View
    </button>
  </div>
</div>
