<div class="flex items-center justify-between px-2">
  <div class="flex-1 text-sm text-muted-foreground">
    0 of 100 row(s) selected.
  </div>

  <div class="flex items-center space-x-6 lg:space-x-8">
    <div class="flex items-center space-x-2">
      <p class="text-sm font-medium">Rows per page</p>

      <button
        type="button"
        role="combobox"
        aria-controls="radix-:r1df:"
        aria-expanded="false"
        aria-autocomplete="none"
        dir="ltr"
        data-state="closed"
        class="flex items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 h-8 w-[70px]">
        <span style="pointer-events: none">10</span>
        <div
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-options.svg"></div>
      </button>
    </div>

    <div class="flex w-[100px] items-center justify-center text-sm font-medium">
      Page 1 of 10
    </div>

    <div class="flex items-center space-x-2">
      <button
        class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground hidden h-8 w-8 p-0 lg:flex"
        disabled>
        <span class="sr-only">Go to first page</span>
        <div
          class="w-4 h-4"
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-chevrons-left.svg"></div>
      </button>

      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
        disabled>
        <span class="sr-only">Go to previous page</span>
        <div
          class="w-4 h-4"
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-chevron-left.svg"></div>
      </button>

      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0">
        <span class="sr-only">Go to next page</span>
        <div
          hx-swap="innerHTML"
          class="w-4 h-4"
          hx-trigger="load"
          hx-get="./assets/icons/gen-chevron-right.svg"></div>
      </button>

      <button
        class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground hidden h-8 w-8 p-0 lg:flex">
        <span class="sr-only">Go to last page</span>
        <div
          class="w-4 h-4"
          hx-swap="innerHTML"
          hx-trigger="load"
          hx-get="./assets/icons/gen-chevrons-right.svg"></div>
      </button>
    </div>
  </div>
</div>
