<div class="rounded-md border">
  <div class="relative w-full overflow-auto">
    <table class="w-full caption-bottom text-sm">
      <thead class="[&amp;_tr]:border-b">
        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select all"></button>
          </th>

          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1">
            <div class>Task</div>
          </th>

          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1">
            <div class="flex items-center space-x-2">
              <button
                class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs -ml-3 h-8 data-[state=open]:bg-accent"
                type="button"
                id="radix-:r1cl:"
                aria-haspopup="menu"
                aria-expanded="false"
                data-state="closed">
                <span>Title</span>
                <div
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-options.svg"></div>
              </button>
            </div>
          </th>

          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1">
            <div class="flex items-center space-x-2">
              <button
                class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs -ml-3 h-8 data-[state=open]:bg-accent"
                type="button"
                id="radix-:r1cn:"
                aria-haspopup="menu"
                aria-expanded="false"
                data-state="closed">
                <span>Status</span>
                <div
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-options.svg"></div>
              </button>
            </div>
          </th>

          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1">
            <div class="flex items-center space-x-2">
              <button
                class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground rounded-md px-3 text-xs -ml-3 h-8 data-[state=open]:bg-accent"
                type="button"
                id="radix-:r1cp:"
                aria-haspopup="menu"
                aria-expanded="false"
                data-state="closed">
                <span>Priority</span>
                <div
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-options.svg"></div>
              </button>
            </div>
          </th>

          <th
            class="h-10 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]"
            colspan="1"></th>
        </tr>
      </thead>

      <tbody class="[&amp;_tr:last-child]:border-0">
        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-8782</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Documentation
              </div>

              <span class="max-w-[500px] truncate font-medium">
                You can't compress the program without quantifying the
                open-source SSD pixel!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-timer.svg"></div>

              <span>In Progress</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-right.svg"></div>

              <span>Medium</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1cr:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-7878</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Documentation
              </div>

              <span class="max-w-[500px] truncate font-medium">
                Try to calculate the EXE feed, maybe it will index the
                multi-byte pixel!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle-help.svg"></div>

              <span>Backlog</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-right.svg"></div>

              <span>Medium</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1ct:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-7839</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Bug
              </div>

              <span class="max-w-[500px] truncate font-medium">
                We need to bypass the neural TCP card!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle.svg"></div>

              <span>Todo</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-up.svg"></div>

              <span>High</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1cv:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-5562</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Feature
              </div>

              <span class="max-w-[500px] truncate font-medium">
                The SAS interface is down, bypass the open-source pixel so we
                can back up the PNG bandwidth!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle-help.svg"></div>

              <span>Backlog</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-right.svg"></div>

              <span>Medium</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1d1:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-8686</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Feature
              </div>

              <span class="max-w-[500px] truncate font-medium">
                I'll parse the wireless SSL protocol, that should driver the API
                panel!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle-x.svg"></div>

              <span>Canceled</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-right.svg"></div>

              <span>Medium</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1d3:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-1280</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Bug
              </div>

              <span class="max-w-[500px] truncate font-medium">
                Use the digital TLS panel, then you can transmit the haptic
                system!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle-check.svg"></div>

              <span>Done</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-up.svg"></div>

              <span>High</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1d5:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-7262</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Feature
              </div>

              <span class="max-w-[500px] truncate font-medium">
                The UTF8 application is down, parse the neural bandwidth so we
                can back up the PNG firewall!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle-check.svg"></div>

              <span>Done</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-up.svg"></div>

              <span>High</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1d7:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-1138</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Feature
              </div>

              <span class="max-w-[500px] truncate font-medium">
                Generating the driver won't do anything, we need to quantify the
                1080p SMTP bandwidth!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-timer.svg"></div>

              <span>In Progress</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-right.svg"></div>

              <span>Medium</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1d9:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-7184</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Feature
              </div>

              <span class="max-w-[500px] truncate font-medium">
                We need to program the back-end THX pixel!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-circle.svg"></div>

              <span>Todo</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-down.svg"></div>

              <span>Low</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1db:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>

        <tr
          class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
          data-state="false">
          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              type="button"
              role="checkbox"
              aria-checked="false"
              data-state="unchecked"
              value="on"
              class="peer h-4 w-4 shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground translate-y-[2px]"
              aria-label="Select row"></button>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="w-[80px]">TASK-5160</div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex space-x-2">
              <div
                class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground">
                Documentation
              </div>

              <span class="max-w-[500px] truncate font-medium">
                Calculating the bus won't do anything, we need to navigate the
                back-end JSON protocol!
              </span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex w-[100px] items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-timer.svg"></div>

              <span>In Progress</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <div class="flex items-center">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-arrow-up.svg"></div>

              <span>High</span>
            </div>
          </td>

          <td
            class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 [&amp;>[role=checkbox]]:translate-y-[2px]">
            <button
              class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground flex h-8 w-8 p-0 data-[state=open]:bg-muted"
              type="button"
              id="radix-:r1dd:"
              aria-haspopup="menu"
              aria-expanded="false"
              data-state="closed">
              <div
                class="w-4 h-4 mr-2 text-muted-foreground"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-get="./assets/icons/gen-menu.svg"></div>

              <span class="sr-only">Open menu</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
