<div class="pb-12 hidden lg:block">
  <div class="space-y-4 py-4">
    <div class="px-3 py-2">
      <h2 class="mb-2 px-4 text-lg font-semibold tracking-tight">Discover</h2>

      <div class="space-y-1">
        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-circle-play.svg"></div>

          Listen Now
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-layout-grid.svg"></div>

          Browse
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-radio.svg"></div>

          Radio
        </button>
      </div>
    </div>

    <div class="px-3 py-2">
      <h2 class="mb-2 px-4 text-lg font-semibold tracking-tight">Library</h2>

      <div class="space-y-1">
        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-list-music.svg"></div>

          Playlists
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-music-2.svg"></div>

          Songs
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-user.svg"></div>

          Made for You
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-mic-vocal.svg"></div>

          Artists
        </button>

        <button
          class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start">
          <div
            class="w-4 h-4 mr-2"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-get="./assets/icons/gen-library.svg"></div>

          Albums
        </button>
      </div>
    </div>

    <div class="py-2">
      <h2 class="relative px-7 text-lg font-semibold tracking-tight">
        Playlists
      </h2>

      <div
        dir="ltr"
        class="relative overflow-hidden h-[300px] px-1">
        <div
          data-radix-scroll-area-viewport
          class="h-full w-full rounded-[inherit]"
          style="overflow: hidden scroll">
          <div style="min-width: 100%; display: table">
            <div class="space-y-1 p-2">
              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Recently Added
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Recently Played
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Top Songs
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Top Albums
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Top Artists
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Logic Discography
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Bedtime Beats
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Feeling Happy
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                I miss Y2K Pop
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Runtober
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Mellow Days
              </button>

              <button
                class="inline-flex items-center whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full justify-start font-normal">
                <div
                  class="w-4 h-4 mr-2"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                  hx-get="./assets/icons/gen-list-music.svg"></div>

                Eminem Essentials
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
